
  .cloud::after, .cloud::before{
      content:"";
      position:relative;
      display:inline-block;
      background:inherit;
      border-radius:inherit;
  }


  .cloudContainer{
    position:relative;
    display:flex;
    flex-direction: row;
    top: 100px;
    left: 300px;
  }

  .cloudBottom{
    margin-top:70px;
    width:850px;
    height:250px;
    background:#e3edf3;
    border-radius:200px 200px 200px 200px;
    position: absolute;
  
    border: 6px #206a5d solid;

  }

  .cloudBig{
    width:180px;
    height:180px;
    top: -20px;
    left:70px;
    border-top: 8px #206a5d solid;
    background:#e3edf3;
    border-radius:100px;
    position: absolute;
   
  }

  .cloudSmall{
    width:100px;
    height:100px;
    top: 20px;
    left:240px;
    border-top: 8px #206a5d solid;
    background:#e3edf3;
    border-radius:100px;
    position: absolute;


  }

  .cloudExSmall{
    width:70px;
    height:70px;
    top: 40px;
    left:330px;
    border-top: 8px #206a5d solid;
    background:#e3edf3;
    border-radius:100px;
    position: absolute;


  }