.addPost {
  margin: 3%;
  border: solid 3px #1f4068;
  text-align: center;
  border-radius: 15px;

  span {
    input {
      height: 50px;
      width: 70%;
      margin: 0 3% 25px 0;
    }

    button {
      width: 5%;
    }
  }
}
