.profile {
  width: 500px;
  margin: 15px auto;
  border: solid 3px #1f4068;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 100px;
    height: 150px;
    border-radius: 50px;
  }
  .userInfo {
    display: flex;
    flex-flow: column;

    button {
      margin: 25px;
    }
  }
}
.profileSwitcher {
  border-bottom: 5px solid #206a5d;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  h3 {
    color: #1f4068;
  }
}
