.login {
  display: flex;
  text-align: center;
  flex-direction: column;
  border: solid #1f4068 3px;
  width: 50%;
  margin: 5% auto;
  border-radius: 15px;

  h1 {
    color: #1b1c25;
  }

  span {
    display: flex;
    margin: 5px auto;
    h3 {
      margin: 5px;
      width: 100px;
    }
    input {
      width: 300px;
    }
  }
}

.signupSpan {
  display: flex;
  flex-direction: column;
  b {
    display: flex;
  }
  input {
    width: 300px;
    height: 35px;
  }
}
.regButton {
  width: 125px;
  margin: 10px auto;
  border: solid 3px #206a5d;
  border-radius: 10px;
  height: 50px;
  font-weight: bold;
  color: #1b1c25;
}

@media screen and (max-width: 850px) {
  .login {
    width: 85%;
    span {
      display: flex;
      flex-direction: column;
      margin: 5px auto;
      h3 {
        margin: 0;
        width: 100px;
        display: flex;
      }
      input {
        width: 80%;
      }
    }
  }
}
