.navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: auto;
  border-bottom: 3px solid #1f4068;
  padding: 10px;
  border-radius: 2px;
  width: 90%;

  .navSearch {
    display: flex;
    position: relative;
    margin: 5px;

    input {
      border: solid 3px #206a5d;
      border-radius: 10px;
    }

    img {
      margin: 5px;
    }
  }

  .links {
    text-decoration: none;
    font-weight: bold;
    border-bottom: solid #206a5d 3px;
    color: #1b1c25;
  }
}

.icon {
  width: 50px;
}
